:host .picBox{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
:host div button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.move {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-round {
  border-radius: 999em;
  border:0;
  width: 56px;
  height: 56px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  position: relative;
  cursor: pointer;
  margin:-30px;
  z-index: 2;
} 

.dislike {
  color: #0071b7;
  background-color: #433f40;
} 

.like {
  color: #e4004e;
  background-color: #433f40; 
} 

.btn-round-mover {
  color: #e91e63;
  background-color: #433f40;
  border-radius: 999em;
  border:0;
  width: 90px;
  height: 90px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  position: relative;
  cursor: pointer;
  margin-top: 35px;
}  

button:focus {
  outline:0;
} 

button:active i{
  color: #433f40;
}

.data{
  margin-top: 10px;
  font: bold 24px/45px Helvetica, Sans-Serif; 
}

md-grid-list {
 margin: 5px;
}

md-grid-tile {
  background-color: #433f40;
  color: white;
  font-size: 30px;
}

md-grid-tile p{
  margin-top:10px;
  margin-left:5px;
}

.star{
  color: #d6d600;;
}

.brush{
  color: blue;
}

.price{
  color: green;
}

h4 { 
   position: absolute; 
   bottom:-9px; 
   left: 50px; 
   width: 100%; 
}

h4 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
