<div class="container-fluid">
    <div *ngIf="currentCake">
        <div class="row">
            <div class="picBox">
                <button (click)="switch()" class="col-xs-1 btn-round"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></button>
                <img class="img-responsive col-xs-10" [src]="currentCake.picture" alt="123">
                <h4><span>{{currentCake.username}}</span></h4>
                <button (click)="switch()" class="col-xs-1 btn-round"><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="row data">
           <md-grid-list cols="2" gutterSize="-1px" rowHeight="80px">
                <md-grid-tile><i class="fa fa-star" aria-hidden="true"></i><i>{{currentCake.rating}}</i></md-grid-tile>
                <md-grid-tile><i class="fa fa-paint-brush" aria-hidden="true"></i><i>{{currentCake.level}}</i></md-grid-tile>
            </md-grid-list>
            <md-grid-list cols="1" rowHeight="80px">
                <md-grid-tile><i class="fa fa-usd" aria-hidden="true"></i><i>{{currentCake.price}}</i></md-grid-tile>
            </md-grid-list>
        </div>
        <div class="row move">
            <button (click)="move()" class="col-xs-1 btn-round-mover"><i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i></button>
        </div>
    </div>
</div>