<div class="container">
    <div class="user row">
        <h1>belana</h1>
    </div>
    <div class="imageBack row">
       <img id="profilePic" src="./assets/mockpics/profileMock.jpg" alt="">
    </div>
    <div class="row">
        <p id="name">Belana Mitchveq</p>
    </div>
    <div class="row">

       <div (click)="getRoute()" class="btn btn-primary"><i routerLink="/file-uploader"  routerLinkActive="active"></i>Create New Look</div>

    </div>
     <div class="data row">
       <md-grid-list cols="2" gutterSize="5px" rowHeight="80px">
            <md-grid-tile>
                <i class="fa fa-star star" aria-hidden="true"></i><p>Liked Looks</p>
            </md-grid-tile>
            <md-grid-tile>
                <i class="fa fa-paint-brush brush" aria-hidden="true"></i><p>Created Looks</p>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
